*{
	padding: 0;
	margin: 0;
}

h1, 
h2, 
h3,
a{
	font-family: $font-family_1;
	color:whitesmoke;
	padding: 10px 30px;
}

h1{
	font-size: $textXl;
}

h2{
	font-size: $textLg;
}

h3{
	font-size: $textMd;
}

p{
	font-family: $font-family_1;
	line-height: 1.4em;
	color: $color_2;
	font-size: $textMd;
	padding: 10px 30px;
}